
#root {
  background: url(./images/fon.jpeg) no-repeat center;
  background-size: cover;
  height: 100vh;
  width: 100%;
  }

/*MAIN GAME FIELD START */
.mainGameField {
  width: 100%;
  height: 640px;
  display: flex;
}
/* RIGHT SIDE GAME */
  .gameBox{
    margin-left: auto;
    margin-right: auto; 
    width: 600px;
 
  }

  .gameBorder {
    background-color: rgba(94, 116, 101, 0.6);
    width: 600px;
    margin-left: auto;
    margin-right: auto; 
    padding: 20px 0 20px 0;
    border-radius: 30px;
  }
  
  .gameLogic {
    position: inherit;
    width: 560px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto; 
  }
  
  .gameCardBox {
    opacity: none;
    width: 70px;
    height: 70px;
    border: solid 0.1px rgb(93, 118, 94);
    border-radius: 20%;
    background-color: rgb(159, 179, 171);
   }
  
  .gameLogic .gameCardBox img {
    width: 69px;
    height: 69px;
    border-radius: 20%;
  }

  .activeCard {
    position: relative;  
  }

  .dragCard {
    position: relative;
  }

  .nonClick{
    pointer-events: none;
  }

  .moveCard {
    position: relative;
  }

  .borderBox {
    background-color: rgba(225, 242, 233, 0.722);
  }
/* LEFTS SIDE INFO BAR START */

.leftsideInfoBar{
 position: absolute;
 margin-left: auto;
 margin-left: 75%;
}

/* pikachu music start */
.pikachuMusicBox {
  width: 150px;
  height: 137px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(94, 116, 101, 0.6);
  border-radius: 40px;
  padding-bottom: 20px;
  margin-bottom: 60px;
}
.pikachuMusicBoxActive{
  background-color: rgba(87, 154, 108, 0.7);
  border: solid 1px whitesmoke;
  
}
.pikachuBox {
  cursor: pointer;
} 

.pikachuMusicImage {
  width: 60px;
  margin-left: auto;
  margin-right: auto;
  height: 100px;

}
.inputBox {
  width: 100px;
  margin-left: auto;
  margin-right: auto;
}
.audio-item__volume  {
  width: 100px;
  cursor: pointer;
	appearance: none;
	opacity: 0.6;
}
.audio-item__volume::-webkit-slider-runnable-track {
	border-radius: 10px/100%;
	height: 2px;
	background-color: #fff;
}
.audio-item__volume::-webkit-slider-thumb {
	background: #fff;
	border-radius: 100%;
	width: 12px;
	height: 12px;
	margin-top: -5px;
	-webkit-appearance: none;
}

/* pikachu music finish */
 

/* Timer Board Block start*/

.timer-board{
width: 150px;
margin-bottom: 60px;
}
.pikaRun{
  width: 150px;
}
.pikachuPic{
  position: relative;
  width: 50px;
}
.pikachuAnimation {
  animation: pikarun 6s linear infinite;
}

@keyframes pikarun {

 0% {
    top: 0px;
    left: 0px;
    transform: rotate(0deg);
  }
  17% {
    top: 0px;
    transform: rotate(0deg);
  }
  25% {
    left: 140px;
    top: 35px;
  }
  27% {
    transform: rotate(90deg);
  }
  42% {
    left: 140px;
    transform: rotate(90deg);
  }
  50% {
    top: 170px;
    left: 110px;
    transform: rotate(180deg);
  }
  68% {
    transform: rotate(180deg);
    top: 170px;
  }
  75% {
    top: 140px;
    left: -40px;
    transform: rotate(270deg);
  }
  93% {
    transform: rotate(270deg);
    left: -40px;
  }
  100% {
    top: 0px;
    left: 0px;
    transform: rotate(360deg);
  } 

}


.timerBox{
  width: 150px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(94, 116, 101, 0.6);
  border-radius: 40px;
  padding-bottom: 20px;

}
.timeBox {
  width: 85px;
  margin-left: auto;
  margin-right: auto;

}
.timeName {
  width: 85px;
  margin-left: auto;
  margin-right: auto;
  font-size: 38px;
  color: rgba(136, 208, 230, 0.604);
}
.timeBoxValue {
  width: 100px;
  margin-left: auto;
  margin-right: auto;
  
  border-left:  solid 0.1px rgba(172, 194, 201, 0.707);
  border-right:  solid 0.1px rgba(172, 194, 201, 0.707);
  border-radius: 20%;
}
.timeValue {
  width: 70px;
  margin-left: auto;
  margin-right: auto;
 font-size: 40px;
 color: rgba(172, 194, 201, 0.707);
} 


/* Timer Board Block end */
/* Score Board Block start*/
.score-board {
  width: 150px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(94, 116, 101, 0.6);
  border-radius: 40px;
  padding-bottom: 20px;
  margin-bottom: 36px;
}
.score-text {
  width: 85px;
  margin-left: auto;
  margin-right: auto;
  font-size: 38px;
  color: rgba(230, 227, 136, 0.604);
}
.box-score{
  width: 100px;
  margin-left: auto;
  margin-right: auto;
  
  border-left:  solid 0.1px rgba(172, 194, 201, 0.707);
  border-right:  solid 0.1px rgba(172, 194, 201, 0.707);
  border-radius: 20%;
}
.score-value {
  width: 60px;
  margin-left: auto;
  margin-right: auto;
 font-size: 40px;
 color: rgba(172, 194, 201, 0.707);
}


.logoBlock {
  width: 100%;
  height: 100px;

}
.pokemonLogo {
   background: url('/src/images/Pokemon.png') no-repeat center;
   background-size: contain;
   width: 500px;
   height: 100px;
   margin-left: auto;
   margin-right: auto;
 }